/* You can add global styles to this file, and also import other style files */
.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 140px;
    height: 100vh;
    margin: 0 auto;
    align-items: center;
}
